*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "sans-serif";

}




/* <!-- HEADER SECTION  --> */
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
    position: absolute;
    z-index: 2;
    /* background: transparent; */
    /* box-sizing: border-box; */
}
body{
    background-color: black;
    /* overflow: hidden; */
}
#language{
    background-color: #2E2626;
    color: white;
    border: 0px;
}
.lang-en{
    background-color: black;
    color: black;
}
.lang-option{
    padding: 3em;    
}
.container{
    max-width: 64em;
    margin: auto;
}
.nav-header{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-nav{
    width: 25%;
}


.button-lang{
    background-color: rgb(46, 38, 38);
    color: white;
    border: 1px solid grey;
    border-radius: 4px;
    padding: .5em .7em;
    align-items: center;
    cursor: pointer;
    margin-right: 1em;
    font-weight: 500;
 

}
.lang{
    padding: 0 .5em;
}
.button-signin,.hero_started{
    background-color: red;
    color: white;
    border-radius:4px;
    padding: .5em .8em;
    border: 1px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
}
.button-signin:hover,.hero_started:hover{
    
    background-color:  rgb(101, 4, 4);
}


/* <!-- HERO SECTION 1 --> */
.hero{
    position: relative;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    /* top: 0; */
    z-index: 1;
    
    box-sizing: border-box;
    border-bottom: .7em solid gray;

   
}
.image_hero1{
    width: 100%;
    /* height: 100vh; */
    
     position: relative;
     /* height: 50%; */

    /* height: 50vh;  */
    object-fit: cover;
    margin: auto;

}
.hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    /* bottom: 130px; */
    top: 18em;
    /* left: 0;
    right: 0;
    bottom: 0; */
    /* left: 10rem;  */
    color: white;
    text-align: center;
    align-items: center;
    line-height: 3em;
    /* text-align: center; */
    z-index: 1;

}
.title_section{
    text-align: center;
    width: 100%;
}
.hero_content h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: .7em;
}


.hero_content h3{
    /* font-size: 2rem; */
    font-weight: 500;
}
.input_text{
    width: 24em;
    /* height: 4em; */
    background-color: black;
    border: 1px solid gray;
    /* background: transparent; */
    color: white;
    border-radius: 5px;
 padding: 1.2em;
    cursor: pointer;
    
}
.hero_started{
    padding: 1.3em 1.7em;
    border-radius: .5em;
    border: 1px solid  gray;
    background-color: red;
    color: white;
    align-items: center;
    cursor: pointer;

    
}
.button_set{
    align-items: center;
    display: flex;
}
.button_align{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

}
.button_set{
    align-items: center;
    justify-content: center;
    display: flex;
}
/* <!-- HERO SECTION 2 --> */

.hero_section2{
position: relative;
    /* background-color: black; */
    color: white;
    z-index: 10;
    width: 100%;

}
.main{
    display: flex;
 
    position: relative;
    width: 100%;
    color: white;
    align-items: center;
    background-color: black;
    padding-bottom: 4.5em;

}
.content{
    /* width: 50%;    */
    display: flex;
    flex-direction: column; 
    padding: 0 40px;
    /* margin-top: 30px; */
   


}
.content h2{
    font-size: 40px;
    margin-bottom: 30px;
    align-items: center;

}
.image{
 width: 50px
}

.contnet h4{
    font-weight: 200;
    
}


/* <!-- SECTION 3 --> */
.section3{
    position: relative;
    border-top: 8px solid gray;
    align-items: center;
    width: 100%;
    border-bottom: 8px solid gray;

    
}
.section3_container{
    display:flex;
    color: white;
    align-items: center;
    justify-content: center;
   
   
}


/* SECTION4 */


.section4{
    position: relative;
    align-items: center;
    width: 100%;
    color: white;
    border-bottom: 8px solid gray;


}
.section4_container{
    display: flex;
    align-items: center;
    justify-content: center;
 

}
.section4_container div h1{
    font-size: 40px;

}
.section4_container div p{
    margin-top: 30px;
}


/* section5 */

.section5{
    position: relative;
    align-items: center;
    width: 100%;
    color: white;
    border-bottom: 8px solid gray;


}
.section5_container{
    display: flex;
    align-items: center;
    justify-content: center;
 

}
.section5_container div h2{
    font-size: 30px;
    margin-bottom: 20px;

}
.section4_container div p{
    margin-top: 30px;
    
}
.content5{
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* section6 */
.section6{
    position: relative;
    align-items: center;
    width: 100%;
    color: white;
    border-bottom: 8px solid gray;


}
.section6_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
.section6_questions{
    margin: 30px 0;
}

.section6_questions div{
    padding: 7px 30px;
    background-color: #2D2D2D;
    /* border: 1px solid gray; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    margin: 5px;
}
.email_section{
   align-items: center;
   justify-content: center;
   display: flex;
   margin: 40px 0 ;

}
.input_hero{
    margin:0 10px 0 0 ;
}
.question_list0:hover{
    background-color: #494040;
}


/* FOOTER SECTION */




















.footer_section{
    padding: 100px 0;
    color: white;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    width: 70%;
    
  
}



.footer_data_1 ul{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

}

.footer_link{
margin-top: 10px;
align-items: start;
justify-content: start;
color: #B3B3B3;

}
.footer_title{
    padding: 10px 0 ;

}

.footer_item{
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: start;
}

.btn-footer{
    margin-top: 30px;
    
}
.footer_netflix{
    color: #B3B3B3;
    margin-top: 15px;
    font-size: 13px;
}


@media only screen and (max-width: 1024px) {
    body {
      /* background-color: lightblue; */
    }
    .image{
        width: 100vw;
        flex-direction: column-reverse;
        /* color: red;
        background-color: red; */
    }
  
    .hero_content{
        /* font-size: 1em; */
        top: 1em;
        /* position: absolute; */
        bottom: 0;
        
    }
    .hero_content h1{
        font-size: 1.4em;
    }
    .hero_content h3{
        font-size: 1em;
    }
    .button_align div{
        width: 50;
    }
    .main{
        flex-direction: column-reverse;
          text-align: center;
      
    }
    .section3_container{
        flex-direction: column;
        margin-bottom: 1em;
    }
    .section4_container{
        flex-direction: column-reverse;
        margin-bottom: 1em;
    }
    .section5_container{
        flex-direction: column;
        margin-bottom: 1em;
    }

  }
  
@media only screen and (max-width: 700px) {
    .nav-header{
        /* text-align: center; */
        /* justify-content: space-around; */
       
    }
    .hero_content{
        line-height:20px ;
    
    }
    .hero_content h1{
        font-size: 1.4em;
    }
    .hero_content h3{
        font-size: 1em;
    }
 
    .button_align{
        width: 50%;
       
        display: flex;
    }
    .button_align .input_hero .input_text{
        /* padding:3px; */
        /* margin: 0; */
        width: 100%;
    }
    .hero_started{
       padding: 10px 12px;
    }

}
   
@media only screen and (max-width: 500px) {
    .hero_content{
        position: absolute;
        top: 7em;
        bottom:0;
    }
    
    .button_align{
        display: none
    }
   
    .button_align .input_hero{
        padding:3px;
        /* margin: 0; */
        
    }
    .hero_started{
       padding: 10px 5px;
    }

}
@media only screen and (max-width:400px){
   
    .button_align{
        display: none
    }
   
    .input_text{
        width: 90%;
        padding: 1px 3px;
    }
    .button_align .input_hero{
        padding:3px;    
        /* margin: 0; */
        
    }
    .header-button{
        display: flex;
    }
    .button-lang{
        width: 100;
        padding: 1px;
        display: flex;
    }
    .button-signin{
        margin: 2px;
        padding: 1px 10px;
    }
    .hero_started{
       padding: 10px 5px;
    }
    .hero_content{
        bottom: 1.7em;
    }
    .footer_link{
        font-size: small;
    }
}
